#carrito-resumen {
    border-top: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
  }
  
  .num-total,
  .precio-productos-compra,
  .carrito-resumen-precio-envio,
  .precio-final {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .precio-final {
    font-weight: bold;
  }