.carrito-producto-info h3 {
  margin: 0;
  font-size: 18px;
}

.carrito-producto-controles {
  display: flex;
  gap: 10px;
}

button {
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5c5c;
}